.homepage{
    width: 100%;
    min-height: 100vh;
}

.topContainer{
    margin-top: 120px;
    margin-bottom: 50px;
}

.welcomeDialogue{
    font-size: 40px;
    font-weight: bold;
}

.rightCircle img{
    object-fit: contain;
}

.startBtn:hover{
    color: white;
}


/* --------------------------------------------------features------------------------------------------------------------------------ */


.featuretitle p{
    font-size: 35px;
    font-weight: bold;
}
.featuresList ul{
    list-style: disc;
}
.workBox2{
    height: 400px;
}


/* ---------------------------------------Schemes------------------------------------------------ */

.avaliableSchemes:hover{
    cursor: pointer;
    background-color: var(--dark-green);
}


@media screen and (max-width:768px) {
 
    .welcomeDialogue{
        font-size: 35px;
        margin-left: 0;
        width: 100%;
    }
    .details{
        width: 100%;
    }

    .featuresList ul{
        padding-left: 0;
    }
    .workBox2{
        height: auto;
    }
}