.loginForm{
    width: 33%;
    border: 1px solid gray;
}

.loginToggle{
    cursor: pointer;
}

@media screen and (max-width:768px) {
    .loginForm{
        width: 100%;
        border: 1px solid gray;
    }
    
}