.ContactDeveloper{
    border-right: 1px solid;
    }
    
    .ContactDesigner{
        border-left: 1px solid;
    }
    
    .contactPicture{
        height: 80px;
        width: 80px;
    }

    .userImg{
        height: 100%;
        width: 100%;
    }
    
    